body, html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 16px;
    font-weight: 400;
}


h1,h2,h3,h4,h5,h6 {
    margin-top: 45px;
}

h1,h2 {
    color: #9ac56d;
}

h3,h4,h5,h6 {
    color: #a27eb9
}

[header] {
    border-bottom: 1px solid white;
    background-color: #73cd68;
    color: #113c06;
    padding: 4px 0 4px 8px;
}

dl {
    display: grid;
    grid-template-columns: auto 1fr;
    border: 1px groove rgb(150,150,150)
}

dd {
    margin: 0;
    padding: 8px;
    background-color: #3e4044;
}

dt {
    color: #e3a635;
    padding: 8px;
    font-weight: inherit;
    background-color: #3e4044;
}

dd:nth-of-type(odd), dt:nth-of-type(odd){
    background-color: rgb(50,50,50);
}

pre, dl {
    margin-top:0;
    margin-bottom: 2rem;
}

code.highlighter-rouge {
    margin: 4px 0px 4px 0px;
}

ul li {
    list-style-image: inherit;
}