[documentation] {
    min-height: 100%;
    display: flex;
    flex-direction: column;

    [main] {
        min-height: 100%;
        display: flex;
        flex-direction: row;
        flex-grow: 1;

        i {
            font-style: inherit;
        }

        i[cmd] {
            background: rgba(0, 0, 0, 0.9);
            border: 1px solid rgba(255, 255, 255, 0.15);
            padding: 0px 3px;
            margin: 0px -3px;
            color: #76aa75;
            border-radius: 2px;
        }

        i[tag] {
            background: rgba(0, 0, 0, 0.9);
            border: 1px solid rgba(255, 255, 255, 0.15);
            border-radius: 2px;
            padding: 3px;
            margin: -3px;
            color: #7fa0cd;
            font-weight: bold;
        }

        i[str] {
            color: #90a959;
        }

        i[case] {
            color: #91bde9;
            text-decoration: none;
        }


        [navigation] {
            padding: 8px 24px 0 0;
            background: #303030;
            white-space: nowrap;

            a {
                text-decoration: none;
                color: inherit;

                &:hover, &.selected {
                    padding: 0 2px 0 3px;
                    width: 100%;
                    background: #63c0f5;
                    border-width: 0 2px 0 3px;

                    code {
                        background: none;
                        color: white;
                        padding: 0px;
                    }
                }

                &.selected {
                   background: #d75151
                }
            }
        }

        [current-doc] {
            flex-grow: 1;
            padding: 24px 0 0 24px;

            blockquote {
                background: #303030;
                padding: 12px;
                color: #d3b760;

                p {
                    margin: 0;
                }


            }

            [pre-alpha-remark] {
                color: #d3b96d;
                background: #603535;
                margin: 24px;
                padding: 12px;
                text-align: center;
                font-size: 17px;
            }

        }

        #markdown-toc {
            @extend [navigation];

            padding-left: 32px;
            padding-bottom: 12px;
            margin: 16px 40px 16px 40px;

            li::marker {
              font-size: 1.2em;
              content: '* '
            }
        }
    }


}