body, html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

[header] {
    border-bottom: 1px solid white;
    background-color: #73cd68;
    color: #113c06;
    padding: 4px 0 4px 8px;
}

