body, html{
    position: absolute;
    top: 0;
    bottom:0;
    left:0;
    right:0;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 16px;
    font-weight: 400;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
    color: #b5e853;
    letter-spacing: -0.03em;
    text-shadow: 0 1px 1px rgb(0 0 0 / 10%), 0 0 5px rgb(181 232 83 / 10%), 0 0 10px rgb(181 232 83 / 10%);
}

h2 {
    border-bottom: 1px solid #4a4e52;
}

div.bodywrapper a, a {
    color: #8eabcb;
    text-decoration: initial;
    border: none;
}

/* basic layout */
div.header, div.content, div.footer {
    width: initial;
    margin: 0;
    display: flex;
    flex-direction: row;
    padding: 12px;
}


div.content-wrapper, div.content {
    padding: 0;
    margin: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

h1 {
    color: #9ac56d;
}

/* footer */
div.footer-wrapper {
    min-height: 65px;
    height: 65px;
    background: #473d50;
}

div.footer > * {
    padding-right: 8px;
}

div.footer .left {
    flex-grow: 1;
    float: initial;
    display: flex;
}

div.footer .left [role="note"] > br {
    display: none;
}

div.footer .left [role="note"] {
    margin-left: 42px;
}

div.footer .left [role="note"] a {
    color: #9caf63;
}

/* header */
div.header {
    background-color: #73cd68;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 18px;
}


div.header .headertitle {
    margin: 0;
    padding: 12px;
    font-size: 16px;
    font-family: inherit;
}

div.header div.rel {
    margin: 0;
    margin-left: 12px;
    padding: 12px;
    font-size: 12px;
}

div.header div.rel a {
    color: #252c89;

}

/* document */
div.document {
    flex-grow: 1;
    padding: 12px;
    background: #1a1a1a;
    overflow-y: auto;
    width: initial;
    position: relative;
    float: initial;
    display: flex;
    flex-direction: column;
}

div.document div.documentwrapper {
    overflow: auto;
    position: absolute;
    top: 0;
    bottom:0;
    left:0;
    right:0;
    flex-grow: 1;
}

div.document .body {
    padding: 2em;
}

div.document section h1 {
    margin-bottom: 48px;
}

div.document section#submodules > h2 {
    color: #d39a43;
}

div.document li a[href$="#submodules"] {
    color: #d39a43;
    font-style: italic;
}

div.document section#subpackages > h2 {
    color: #d35843;
}

div.document li a[href$="#subpackages"] {
    color: #d39a43;
    font-style: italic;
}

div.document ul {
    margin: 8px;
}

div.document tr.cap {
    color: white;
    background: #714381;
}

/* documentation itself */

.py.class > .sig .sig-name {
    color: #d1bf67
}

.py.class > .sig > .property {
    color: #b379c1;
}

.py.function .sig-name, .py.method .sig-name {
    color:#aacd68;
}

.py.function .sig-param .n:nth-child(4), .py.method .sig-param .n:nth-child(4) {
    color:#a66982;
}

.field-list p strong {
    color:#7f9aaf;
}

/* sidebar */
.sidebar {
    padding: 12px;
    background: #303030;
    color: white;
}

div.sidebar h3 {
    color: #a27eb9;
    text-transform: initial;
    font-size: inherit;
    letter-spacing: initial;
    margin-top: 12px;
    margin-bottom: 12px;
}

div.content div.sidebar li a {
    color: white;
    margin-left: 0px;
    border: none;
}

div.sidebar li.toctree-l1 a {
    background: #303030;
}

div.content div.sidebar li.current > a {
    border: none;
    background: #303030;
    font-style: italic;
    color: #9cdeff;
}

div.content div.sidebar li a[href$="#submodules"] {
    color: #d39a43;
    font-weight: 700;
    font-size: 85%;
}

div.content div.sidebar li a[href$="#submodules"]:only-child,
div.content div.sidebar li a[href$="#subpackages"]:only-child {
    display: none;
}

div.content div.sidebar li a[href$="#subpackages"] {
    color: #d35843;
    font-weight: 700;
    font-size: 85%;
}

div.content div.sidebar ul {
    padding-left: 12px;
    /* border-left: 1px solid red; */
}


/* syntax */

div.viewcode-block:target {
    background: #2a2a2a;
    border: none;
    padding: 12px;
    margin: -12px;
}

div.document div.highlight {
    padding: 12px;
    color: #d0d0d0;
    border: 1px solid rgba(255, 255, 255, 0.15);
}

.highlight .nn, .highlight .nc {
    text-decoration: initial;
}

.highlight table td { padding: 5px; }
.highlight table pre { margin: 0; }
.highlight .w { color: #d0d0d0; }
.highlight .err { color: #151515; background-color: #ac4142; }
.highlight .c, .highlight .cd, .highlight .cm, .highlight .c1, .highlight .cs { color: #888; }
.highlight .cp { color: #f4bf75; }
.highlight .o, .highlight .ow { color: #f4bf75; }
.highlight .p, .highlight .pi { color: #d0d0d0; }
.highlight .gi { color: #90a959; }
.highlight .gd { color: #ac4142; }
.highlight .gh { color: #6a9fb5; font-weight: bold; }
.highlight .k, .highlight .kn, .highlight .kp, .highlight .kr, .highlight .kv { color: #aa759f; }
.highlight .kc, .highlight .kt, .highlight .kd { color: #d28445; }
.highlight .s, .highlight .sb, .highlight .sc, .highlight .sd, .highlight .s2, .highlight .sh, .highlight .sx, .highlight .s1 { color: #90a959; }
.highlight .sr { color: #75b5aa; }
.highlight .si, .highlight .se { color: #8f5536; }
.highlight .nt, .highlight .nn, .highlight .nc, .highlight .no { color: #f4bf75; }
.highlight .na { color: #6a9fb5; }
.highlight .m, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .il, .highlight .mo, .highlight .mb, .highlight .mx { color: #90a959; }
.highlight .ss { color: #90a959; }